@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Quicksand:wght@700&family=Roboto+Mono:ital,wght@1,500&family=SUSE:wght@800&display=swap');

/* Estilos generales */
body {
    font-family: arial, sans-serif;
    background-color: #fbd5e0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /*centrar horizontalmente */
    align-items: center; /*Centrar verticalmente */
    text-align: justify; 
    background-image: url(../elements/graficosUnidos.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Estilos para el contenedor principal */
#app {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*alineación, arriba o abajo, grosor, color */
    opacity: .7;
}

/* Estilos para el formulario */
form {
    display: flex;
    justify-content: space-between;
}

/* Estilos al input */
input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: auto; 
}

/* Estilos al botón */
button {
    padding: 5px 8px;
    margin: 2.5px;
    background-color: #1e47b0;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/*Estilos de la lista */
ul {
    list-style: none;
    padding: 0;
    width: 80%;
}

/*Estilos de los elementos de la lista */
li {
    background-image: linear-gradient(to left, #051e4b, #4e1602, #743c4c); /*--> en lugar de background color*/
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Estilos para cuando una tarea está completada */
li.completed {
    text-decoration: line-through;
    color: #888;
}

h1 {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    opacity: 1;

    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
#titulo {
    display: flex;
    flex-direction: row;
}
#cuerpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 1;
}
#botonAdd {
    height: 60px;
    margin-right: 15px;
}
::placeholder {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}
